@model Department

@{
    ViewData["Title"] = "Edit - Department";
}



<h2 class="text-center p-3"
    style="
        color: #607D8B;
        font-family: math;
        font-weight: 1000;
        border: 1px solid;
        width: max-content;
        border-radius: 8px;
        margin-right: auto;
        margin-left: auto;
    ">
    Edit Department
</h2>

<form method="post" asp-action="SaveEdit" asp-controller="Department" asp-route-id="@Model.ID">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" readonly class="form-control" />
        <span style="color: red" asp-validation-for="Name"></span>
    </div>
    <input asp-for="ID" type="hidden" class="form-control" />
    <div>
        <label asp-for="Manager"></label>
        <input asp-for="Manager" class="form-control" />
        <span style="color: red" asp-validation-for="Manager"></span>
    </div>

    <input type="submit" class="btn btn-success mt-3" value="Save" />

</form>

<a asp-action="Index" asp-controller="Department" class="btn btn-primary mt-3"> Back To All Departments </a>

@section Scripts{
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}