@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex align-items-center" style="margin-top:18%">
    <div class="col-12">
        
        <h1 class="display-4 font-weight-bolder text-info"
            style="font-size:130px;">
            Welcome
        </h1>
        
        <p class="font-weight-bold" 
        style="color: #F44336; font-size:30px;">
            Simple Project Asp.Net Core MVC
        </p>

    </div>
</div>
